﻿@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList.Mvc.Core
@using TatilSitesi.Models
@model IPagedList<Hotel>
@{
    ViewData["Title"] = "HotelListNoComment";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }
</style>
<div class="col-12 text-center" style="display:flex;justify-content:center;">
    <a class="btn-success" style="padding:10px;margin:5px;text-decoration:none;" href="/Hotel/HotelListLowPriceNoComment/">En Düşük Fiyat</a>
    <a class="btn-success" style="padding:10px;margin:5px;text-decoration:none;" href="/Hotel/HotelListHighPriceNoComment/">En Yüksek Fiyat</a>
    <a class="btn-success" style="padding:10px;margin:5px;text-decoration:none;" href="/Hotel/HotelListMostCommentNoComment">Yorum Sayısına Göre</a>
    <a class="btn-success" style="padding:10px;margin:5px;text-decoration:none;" href="/Hotel/HotelListMostViewNoComment">Görüntülenme Sayısı</a>
    <a class="btn-success" style="padding:10px;margin:5px;text-decoration:none;" href="/Hotel/HotelList5StarNoComment">5 Yıldızlı</a>
    <a class="btn-success" style="padding:10px;margin:5px;text-decoration:none;" href="/Hotel/HotelList4StarNoComment">4 Yıldızlı</a>
    <a class="btn-success" style="padding:10px;margin:5px;text-decoration:none;" href="/Hotel/HotelList3StarNoComment">3 Yıldızlı</a>
    <a class="btn-success" style="padding:10px;margin:5px;text-decoration:none;" href="/Hotel/HotelList2StarNoComment">2 Yıldızlı</a>
    <a class="btn-success" style="padding:10px;margin:5px;text-decoration:none;" href="/Hotel/HotelList1StarNoComment">1 Yıldızlı</a>
    <a class="btn-success" style="padding:10px;margin:5px;text-decoration:none;" href="/Hotel/HotelListStarNoComment">Yıldız Sayısına Göre</a>
    <a class="btn-success" style="padding:10px;margin:5px;text-decoration:none;" href="/Hotel/HotelListRatingNoComment">Puana Göre</a>
</div>
@if (!Model.Any())
{
    <div class="container-fluid">
        <p class="bg-secondary text-white p-3 text-center" style="border-radius:10px;">
            Aradığınız otel adı bulunamadı.Lütfen varolan bir otel adı giriniz.
        </p>
    </div>
}
@foreach (var item in Model)
{
    <div class="mt-4 mb-4 container" style="display:flex;flex-wrap:wrap;border:1px solid black;">
        <div class="col-4">
            <a href="/Hotel/HotelPageNoComment/@item.HotelId">
                <img style="margin-left:-30px;" src="@item.HotelThumbnailImageUrl" class="w-100" height="250">
            </a>
        </div>
        <div class="col-8">
            <div style="display:flex" class="pt-4 pb-4">
                <div class="col-6">
                    <a href="/Hotel/HotelCityListNoComment/@item.CityId">
                        @item.City.CityName
                    </a>
                </div>
                <div class="col-6">
                    <a href="/Hotel/HotelCategoryListNoComment/@item.CategoryId">
                        @item.Category.CategoryName
                    </a>
                </div>
            </div>
            <div style="display:flex;" class="pt-4 pb-4">
                <div class="col-6">
                    <span class="mr-2">@item.HotelName</span>
                    @if (item.HotelStar == 5)
                    {
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    }
                    @if (item.HotelStar == 4)
                    {
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    }
                    @if (item.HotelStar == 3)
                    {
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    }
                    @if (item.HotelStar == 2)
                    {
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    }
                    @if (item.HotelStar == 1)
                    {
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    }
                </div>
                <div class="col-6">@await Component.InvokeAsync("ListHotelMinPrice",new {id = item.HotelId})</div>
            </div>
            <div class="col-6">
                <a class="btn-primary text-center text-white" style="padding:5px 30px">
                    @item.HotelRating
                </a>
            </div>
            <div class="col-12 text-center pt-4 pb-4">
                <a class="btn-dark" style="padding:10px 20px;text-decoration:none;" href="/Hotel/HotelPageNoComment/@item.HotelId">
                    Oteli İncele
                </a>
            </div>
        </div>
    </div>
}

@if (!Model.Any())
{
<div style="display:flex" class="col-12 justify-content-center">
    @Html.PagedListPager((IPagedList)Model,page=>Url.Action("HotelListHighPriceNoComment",new {page}),Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
}