@using TatilSitesi.Models
@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "HotelPage";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<div class="container-fluid">

    @foreach (var item in Model)
    {
        <div class="col-12" style="display:flex">
            <div class="col-6 mt-2 mb-2">
                <a href=""> Ana Sayfa </a> <span class="opacity-25"> / </span><a href=""> @item.City.CityName</a>
            </div>
            <div style="display:flex" class="col-6 justify-content-end mt-2">
                <a href=""> Ana Sayfa </a> <span class="opacity-25"> / </span><a href=""> @item.Category.CategoryName</a>
            </div>
        </div>
        <div style="display:flex;" class="col-12 mt-2">
            <div class="col-12 justify-content-start">
                @item.HotelName
            </div>
        </div>
        <div class="col-12 mt-2 mb-2" style="display:flex">
            <div class="col-12 justify-content-start">
                @item.HotelAddres
            </div>
        </div>
@await Component.InvokeAsync("ListHotelImage",new {id = ViewBag.Id})
<br />
@await Component.InvokeAsync("ListRoom",new {id = ViewBag.Id})
<br />
        <div class="col-12">
            @item.HotelDescription
        </div>
    }
</div>
@await Component.InvokeAsync("ListComment",new {id=ViewBag.Id})
<br />
@await Html.PartialAsync("~/Views/Comment/CommentAdd.cshtml")
<br />
@await Component.InvokeAsync("ListSimilarCityHotel",new {id = ViewBag.Id})
<br />
@await Component.InvokeAsync("ListSimilarCategoryHotel",new {id = ViewBag.Id})